{%- if site.texture.showNav -%}
<nav class="navbar">
	<div class="menu" tabindex="0" role="button" aria-label="Menu" aria-haspopup="true">
		<span class="menu-icon" aria-hidden="true">
			<span></span><span></span><span></span>
		</span>
		<ul class="menu-list">
			<li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
			<li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
			<li><a href="{{ '/project/' | relative_url }}">Projects</a></li>
			<li><a href="{{ '/news/' | relative_url }}">News</a></li>
			<li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
		</ul>
	</div>
</nav>
{%- endif -%}
